#img_manage{
    width: 100%;
    max-height: 130px;
    object-fit: cover;
}

.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#card_manage{
    min-height: 150px;
}

#products_manage_container{
    height: 85vh;
    overflow: scroll;
}