#container_login_form{
    height: 100vh;
    background: linear-gradient(-45deg ,#93a5369d, #53b3d382, #2c529f8e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

#login_form{
    max-width: 300px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#registration_form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}