#container_img{
    overflow: hidden;
}

#card_img{
    object-fit: cover;
    height: 350px;
}

#card_title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
}

#card_img:hover{
    transform: scale(1.03);
    cursor: pointer;
}

#not_available{
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    cursor: pointer;
}