body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover_link:hover{
  color: rgb(109, 126, 24) !important;
  cursor: pointer;
}

.hover_link_red:hover{
  color: red !important;
  cursor: pointer;
}

.hover_link_black:hover{
  color: black !important;
  cursor: pointer;
}

.green{
  color: rgb(109, 126, 24) !important;
}

.font{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-admin{
  background-color: rgb(76, 97, 77);
}